ORIGIN=
ROOT_DOMAIN=
PORT=

JWT_SECRET=
COOKIE_SECRET=
FRONTEND_ORIGIN=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URL=
TWITCH_DEFAULT_BOT_ID=
TWITCH_PAYMENT_CHANNEL_ID=

TWITCH_GQL_CLIENT_ID=
TWITCH_GQL_SHA256_HASH=

S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=

DATABASE_URL=
REDIS_URL=

NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED=
NEW_RELIC_APPLICATION_LOGGING_FORWARDING_MAX_SAMPLES_STORED=

CLOUDFLARE_TUNNEL_TOKEN=

SIGHTENGINE_API_USER=
SIGHTENGINE_API_SECRET=

ADMIN_API_KEY=

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URL=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URL=