services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - trailblazer-network
volumes:
  redis_data:
    driver: local
networks:
  trailblazer-network:
    driver: bridge
